{% extends 'base.html' %}

{% block title %}Profesor{% endblock %}

{% block navBar %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">ShareProf(Modo Profesor)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'index' %}">Inicio
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'crearClase' %}">Crear clase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Clases</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">

                            <a class="nav-link font-weight-bold"
                               href="{% url 'user-detail' user.id %}">{{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'signup' %}">Regístratre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Inicia Sesión</a>
                        </li>
                    {% endif %}

                </ul>
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'busca' %}">
                    <input required id="busqueda" name="busqueda" class="form-control mr-sm-2" type="search"
                           placeholder="Busca una clase"
                           aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
{% endblock %}


