{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Calificar
{% endblock %}

{% block content %}

    <head>
        <link href="{% static 'css/rating_style.css' %}" rel="stylesheet">
    </head>

    <div class="rate">
        <input type="radio" id="star5" name="rate" value="5" />
        <label for="star5" title="Cinco estrellas">5 stars</label>

        <input type="radio" id="star4" name="rate" value="4" />
        <label for="star4" title="Cuatro estrellas">4 stars</label>

        <input type="radio" id="star3" name="rate" value="3" />
        <label for="star3" title="Tres estrellas">3 stars</label>

        <input type="radio" id="star2" name="rate" value="2" />
        <label for="star2" title="Dos estrellas">2 stars</label>

        <input type="radio" id="star1" name="rate" value="1" />
        <label for="star1" title="Una estrella">1 star</label>
    </div>

    <div class="rate">

{#        <label for="{{ form.rad.id_for_label }}" title="t">Califica</label>#}
{#        {{ form.rate.choices.0 }}#}
        {{ form.rate5.widget.input_type }}
        <input type="{{ form.rate5.widget.type }}" id="star5" name="{{ form.rate5.widget.name }}" value="5" />
        <label for="star5" title="Cinco estrellas">5 stars</label>
    </div>

{% endblock %}